{% set grid_layout = 'datagrid.html.twig' %}

<div class="hidden-print">
    {{ grid_top(grid) }}
    <div class="text-center">
        <button type="button" class="btn btn-info btn-sm" id="export">Export</button>
    </div>
    <hr />
</div>

<div class="report">
    <div class="report-header">
        <div class="report-title">PT. Bypassindo Jaya Indah</div>
        <div class="report-title">Laporan Penjualan</div>
        <div>
            {% set startDate = grid.searchVals['saleInvoiceHeader']['transactionDate'][1]|default %}
            {% set endDate = grid.searchVals['saleInvoiceHeader']['transactionDate'][2]|default %}
            {{ startDate ? startDate|date('j F Y') }} &nbsp;&ndash;&nbsp; {{ endDate ? endDate|date('j F Y') }}
        </div>
    </div>

    <br />

    {% set totalSum = 0.00 %}
    <table class="report-data">
        <thead class="border-top-solid-bold border-bottom-solid-bold">
            <tr>
                <th class="text-center">Salesman</th>
                <th class="text-center">Leasing</th>
                <th class="text-center">Tanggal</th>
                <th class="text-center">Customer</th>
                <th class="text-center">Merk</th>
                <th class="text-center">DO #</th>
                <th class="text-center">Rangka</th>
                <th class="text-center">Mesin</th>
                <th class="text-center">OFR</th>
                <th class="text-center">DPP</th>
                <th class="text-center">PPN</th>
                <th class="text-center">Faktur Pajak #</th>
                <th class="text-center">Tanggal FP</th>
            </tr>
        </thead>
        <tbody class="border-top-solid-bold border-bottom-solid-bold">
            {% for saleInvoiceDetailUnit in grid.data %}
                {% set total = (saleInvoiceDetailUnit.total * 1.1) %}
                <tr data-field-id="{{ saleInvoiceDetailUnit.id }}">
                    <td class="text-left">{{ saleInvoiceDetailUnit.staffSalesman.name|default }}</td>
                    <td class="text-left">{{ saleInvoiceDetailUnit.receiveOrder.purchaseDeliveryOrder.saleOrder.financeCompany|default }}</td>
                    <td class="text-left">{{ saleInvoiceDetailUnit.saleInvoiceHeader.transactionDate|default ? saleInvoiceDetailUnit.saleInvoiceHeader.transactionDate|date('j F Y') }}</td>
                    <td class="text-left">{{ saleInvoiceDetailUnit.saleInvoiceHeader.customer.name|default }}</td>
                    <td class="text-left">{{ saleInvoiceDetailUnit.vehicleModel.vosModelName|default }}</td>
                    <td class="text-left">{{ saleInvoiceDetailUnit.receiveOrder.purchaseDeliveryOrder.codeNumber|default }}</td>
                    <td class="text-left">{{ saleInvoiceDetailUnit.receiveOrder.purchaseDeliveryOrder.vehicleChassisNumber|default }}</td>
                    <td class="text-left">{{ saleInvoiceDetailUnit.receiveOrder.purchaseDeliveryOrder.vehicleMachineNumber|default }}</td>
                    <td class="text-right">{{ saleInvoiceDetailUnit.unitPrice|default|number_format(0) }}</td>
                    <td class="text-right">{{ total|default|number_format(0) }}</td>
                    <td class="text-right">{{ (saleInvoiceDetailUnit.unitPrice * 0.1)|default|number_format(0) }}</td>
                    <td class="text-left">{{ saleInvoiceDetailUnit.saleInvoiceHeader.taxNumber|default }}</td>
                    <td class="text-left">{{ saleInvoiceDetailUnit.saleInvoiceHeader.taxDate|default ? saleInvoiceDetailUnit.saleInvoiceHeader.taxDate|date('j F Y') }}</td>
                </tr>
                {% set totalSum = totalSum + total %}
            {% endfor %}
        </tbody>
        <tfoot class="border-top-solid-bold border-bottom-solid-bold">
            <tr>
                <td class="text-right" colspan="8"></td>
                <td class="text-right">{{ totalSum|default|number_format(0) }}</td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="hidden-print">
    <br />
    {{ grid_bottom(grid) }}
</div>

<script>
    jQuery(function($) {
        $("#export").click(function() {
            var url = "{{ path('report_sale_invoice_detail_unit_export') }}";
            var data = {{ grid.params|json_encode|raw }};
            $.redirect(url, data);
        });
    });
</script>