{% extends 'transaction/layout.html.twig' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        <div>{{ form_errors(form) }}</div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.transactionDate, {'label': 'Tanggal DO'}) }}
                {{ form_row(form.reference, {'label': 'DO HMSI #'}) }}
                {{ form_row(form.vehicleModel, {'attr': {'readonly': true, 'data-toggle': 'modal', 'data-target': '#vehicle-model-dialog'} }) }}
                <div class="form-group" id="vehicle-model-info">
                    <div>
                        <label>Manufacture Code:</label>
                        <span data-name="vehicle-model-manufacture-code">{{ purchaseDeliveryOrder.vehicleModel.manufactureCode|default }}</span>
                    </div>
                    <div>
                        <label>VOS Model:</label>
                        <span data-name="vehicle-model-vos-model-name">{{ purchaseDeliveryOrder.vehicleModel.vosModelName|default }}</span>
                    </div>
                    <div>
                        <label>DMS Variant:</label>
                        <span data-name="vehicle-model-dms-variant-name">{{ purchaseDeliveryOrder.vehicleModel.dmsVariantName|default }}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                {{ form_row(form.isStock, {'label' : 'Unit yang dijual' }) }}
                {{ form_row(form.saleOrder, {'attr': {'readonly': true, 'data-toggle': 'modal', 'data-target': '#sale-order-dialog'}, 'label': 'SPK' }) }}
                <div class="form-group" id="sale-order-info">
                    <div>
                        <label>SPK #:</label>
                        <span data-name="code-number">{{ purchaseDeliveryOrder.saleOrder.codeNumber|default }}</span>
                    </div>
                    <div>
                        <label>Customer:</label>
                        <span data-name="customer-name">{{ purchaseDeliveryOrder.saleOrder.customer.name|default }}</span>
                    </div>
                    <div>
                        <label>Brand:</label>
                        <span data-name="sale-order-vehicle-brand">{{ purchaseDeliveryOrder.saleOrder.vehicleBrand|default }}</span>
                    </div>
                    <div>
                        <label>Serial Number:</label>
                        <span data-name="sale-order-vehicle-serial-number">{{ purchaseDeliveryOrder.saleOrder.vehicleSerialNumber|default }}</span>
                    </div>
                    <div>
                        <label>Color:</label>
                        <span data-name="sale-order-vehicle-color">{{ purchaseDeliveryOrder.saleOrder.vehicleColor|default }}</span>
                    </div>
                    <div>
                        <label>Manufacture Code:</label>
                        <span data-name="vehicle-model-manufacture-code">{{ purchaseDeliveryOrder.saleOrder.vehicleModel.manufactureCode|default }}</span>
                    </div>
                </div>
            </div>
        </div>
        
        <hr />
        
        <table class="table table-bordered">
            <thead>
                <tr class="bg-info">
                    <th>Tahun Pembuatan</th>
                    <th>Rangka #</th>
                    <th>Mesin #</th>
                    <th>Deskripsi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ form_row(form.vehicleProductionYear) }}</td>
                    <td>{{ form_row(form.vehicleChassisNumber) }}</td>
                    <td>{{ form_row(form.vehicleMachineNumber) }}</td>
                    <td>{{ form_row(form.vehicleDescription) }}</td>
                </tr>
            </tbody>
        </table>
        
        <div>{{ form_row(form.note) }}</div>
        
        <input class="btn btn-primary navbar-inverse" type="submit" value="Save" data-confirm="Do you want to proceed?" />
    
        <div id="sale-order-dialog" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" style="width: 90%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Sale Order List</h4>
                    </div>
                    <div class="modal-body">
                        <div id="sale-order-grid" data-grid="{{ path('common_sale_order_grid', {'form': form.vars.id}) }}"></div>
                    </div>
                </div>
            </div>
        </div>
                    
        <div id="vehicle-model-dialog" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg" style="width: 90%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Vehicle Model List</h4>
                    </div>
                    <div class="modal-body">
                        <div id="vehicle-model-grid" data-grid="{{ path('common_vehicle_model_grid', {'form': form.vars.id}) }}"></div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(function($) {
            function setSaleOrderVisibility(sel) {
                $("#{{ form.saleOrder.vars.id }}").parent().hide();
                $("#sale-order-info").hide();
                if (sel.val() === "0") {
                    $("#{{ form.saleOrder.vars.id }}").parent().show();
                    $("#sale-order-info").show();
                }
            }
            function setVehicleModelVisibility(sel) {
                $("#{{ form.vehicleModel.vars.id }}").parent().hide();
                $("#vehicle-model-info").hide();
                if (sel.val() === "1") {
                    $("#{{ form.vehicleModel.vars.id }}").parent().show();
                    $("#vehicle-model-info").show();                    
                }
            }
            
            setSaleOrderVisibility($(":checked", "#{{ form.isStock.vars.id }}"));
            setVehicleModelVisibility($(":checked", "#{{ form.isStock.vars.id }}"));
            $("#{{ form.isStock.vars.id }}").on("change", function() {
                setSaleOrderVisibility($(":checked", this));
                setVehicleModelVisibility($(":checked", this));
            });
            
            $("#sale-order-grid").on("click", "table[data-role=table] tbody tr", function() {
                $("#sale-order-dialog").modal("hide");
                $("#{{ form.saleOrder.vars.id }}").val($(this).attr("data-field-id"));
                $("[data-name=code-number]", "#sale-order-info").text($(this).attr("data-field-code-number"));
                $("[data-name=customer-name]", "#sale-order-info").text($(this).attr("data-field-customer-name"));
                $("[data-name=sale-order-vehicle-brand]", "#sale-order-info").text($(this).attr("data-field-vehicle-brand"));
                $("[data-name=sale-order-vehicle-serial-number]", "#sale-order-info").text($(this).attr("data-field-vehicle-serial-number"));
                $("[data-name=sale-order-vehicle-color]", "#sale-order-info").text($(this).attr("data-field-vehicle-color"));
                $("[data-name=vehicle-model-manufacture-code]", "#sale-order-info").text($(this).attr("data-field-vehicle-model-manufacture-code"));
            });
            $("#vehicle-model-grid").on("click", "table[data-role=table] tbody tr", function() {
                $("#vehicle-model-dialog").modal("hide");
                $("#{{ form.vehicleModel.vars.id }}").val($(this).attr("data-field-id"));
                $("[data-name=vehicle-model-manufacture-code]", "#vehicle-model-info").text($(this).attr("data-field-manufacture-code"));
                $("[data-name=vehicle-model-vos-model-name]", "#vehicle-model-info").text($(this).attr("data-field-vos-model-name"));
                $("[data-name=vehicle-model-dms-variant-name]", "#vehicle-model-info").text($(this).attr("data-field-dms-variant-name"));
            });
        });
    </script>
{% endblock %}
