{% set grid_layout = 'datagrid.html.twig' %}

{{ grid_top(grid) }}

<table data-role="table" class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr data-action="sort" class="alert alert-info">
            <th data-group="purchaseDeliveryOrder" data-field="codeNumber">DO #</th>
            <th data-group="purchaseDeliveryOrder" data-field="transactionDate">Tanggal</th>
            <th data-group="vehicleModel" data-field="vosModelName">Type</th>
            <th data-group="purchaseDeliveryOrder" data-field="vehicleChassisNumber">Rangka #</th>
            <th data-group="purchaseDeliveryOrder" data-field="vehicleMachineNumber">Mesin #</th>
            <th data-group="purchaseDeliveryOrder" data-field="reference">DO HMSI #</th>
            <th></th>
        </tr>
        <tr data-action="search">
            <th data-group="purchaseDeliveryOrder" data-field="codeNumber"></th>
            <th data-group="purchaseDeliveryOrder" data-field="transactionDate"></th>
            <th data-group="vehicleModel" data-field="vosModelName"></th>
            <th data-group="purchaseDeliveryOrder" data-field="vehicleChassisNumber"></th>
            <th data-group="purchaseDeliveryOrder" data-field="vehicleMachineNumber"></th>
            <th data-group="purchaseDeliveryOrder" data-field="reference"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for purchaseDeliveryOrder in grid.data %}
            <tr data-field-id="{{ purchaseDeliveryOrder.id }}">
                <td class="text-left">{{ purchaseDeliveryOrder.codeNumber|default }}</td>
                <td class="text-left">{{ purchaseDeliveryOrder.transactionDate|default ? purchaseDeliveryOrder.transactionDate|date('j M Y') }}</td>
                <td class="text-left">{{ purchaseDeliveryOrder.vehicleModel.vosModelName|default }}</td>
                <td class="text-left">{{ purchaseDeliveryOrder.vehicleChassisNumber|default }}</td>
                <td class="text-left">{{ purchaseDeliveryOrder.vehicleMachineNumber|default }}</td>
                <td class="text-left">{{ purchaseDeliveryOrder.reference|default }}</td>
                <td class="text-left">
                    {{ include('transaction/actions.html.twig', {
                        'contents': {
                            '{index}': null,
                            '{new}': null,
                            '{show}': include('action.html.twig', {'url': path('transaction_purchase_delivery_order_show', {'id': purchaseDeliveryOrder.id}), 'button': 'btn btn-info btn-sm', 'icon': 'glyphicon glyphicon-info-sign'}),
                            '{edit}': include('action.html.twig', {'url': path('transaction_purchase_delivery_order_edit', {'id': purchaseDeliveryOrder.id}), 'button': 'btn btn-warning btn-sm', 'icon': 'glyphicon glyphicon-edit'}),
                            '{delete}': include('action.html.twig', {'url': path('transaction_purchase_delivery_order_delete', {'id': purchaseDeliveryOrder.id}), 'button': 'btn btn-danger btn-sm', 'icon': 'glyphicon glyphicon-remove'}),
                        }
                    }) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="alert alert-warning">
                    <strong>There are no items to display.</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ grid_bottom(grid) }}
