{% set grid_layout = 'datagrid.html.twig' %}

{{ grid_top(grid) }}

<table data-role="table" class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr data-action="sort" class="alert alert-info">
            <th data-group="purchaseDeliveryOrder" data-field="vehicleChassisNumber">Rangka #</th>
            <th data-group="purchaseDeliveryOrder" data-field="vehicleMachineNumber">Mesin #</th>
            <th data-group="vehicleModel" data-field="vosModel">Model</th>
            <th data-group="saleOrder" data-field="codeNumber">SPK #</th>
            <th data-group="customer" data-field="name">Customer </th>
            <th data-group="saleOrder" data-field="reference">DO #</th>
        </tr>
        <tr data-action="search">
            <th data-group="purchaseDeliveryOrder" data-field="vehicleChassisNumber"></th>
            <th data-group="purchaseDeliveryOrder" data-field="vehicleMachineNumber"></th>
            <th></th>
            <th data-group="saleOrder" data-field="codeNumber"></th>
            <th data-group="customer" data-field="name"></th>
            <th data-group="purchaseDeliveryOrder" data-field="reference"></th>
        </tr>
    </thead>
    <tbody>
        {% for receiveOrder in grid.data %}
            <tr data-field-id="{{ receiveOrder.id }}"
                data-field-vehicle-production-year="{{ receiveOrder.purchaseDeliveryOrder.vehicleProductionYear|default }}"
                data-field-vehicle-chassis-number="{{ receiveOrder.purchaseDeliveryOrder.vehicleChassisNumber|default }}"
                data-field-vehicle-machine-number="{{ receiveOrder.purchaseDeliveryOrder.vehicleMachineNumber|default }}"
                data-field-vehicle-description="{{ receiveOrder.purchaseDeliveryOrder.vehicleDescription|default }}"
                data-field-customer-name="{{ receiveOrder.purchaseDeliveryOrder.saleOrder.customer.name|default }}"
                data-field-sale-order-code-number="{{ receiveOrder.purchaseDeliveryOrder.saleOrder.codeNumber|default }}"
                data-field-sale-order-vehicle-brand="{{ receiveOrder.purchaseDeliveryOrder.saleOrder.vehicleBrand|default }}"
                data-field-sale-order-vehicle-serial-number="{{ receiveOrder.purchaseDeliveryOrder.saleOrder.vehicleSerialNumber|default }}"
                data-field-sale-order-vehicle-color="{{ receiveOrder.purchaseDeliveryOrder.saleOrder.vehicleColor|default }}"
                data-field-vehicle-model-manufacture-code="{{ receiveOrder.purchaseDeliveryOrder.saleOrder.vehicleModel.manufactureCode|default }}"
                data-field-sale-order-quantity="{{ receiveOrder.purchaseDeliveryOrder.saleOrder.quantity|default }}"
                data-field-sale-order-unit-price="{{ receiveOrder.purchaseDeliveryOrder.saleOrder.unitPrice|default }}"
                data-field-sale-order-payment-type="{{ receiveOrder.purchaseDeliveryOrder.saleOrder.financeCompany.name|default }}"
                data-field-sale-order-total="{{ receiveOrder.purchaseDeliveryOrder.saleOrder.total|default }}">
                <td class="text-left">{{ receiveOrder.purchaseDeliveryOrder.vehicleChassisNumber|default }}</td>
                <td class="text-left">{{ receiveOrder.purchaseDeliveryOrder.vehicleMachineNumber|default }}</td>
                <td class="text-left">{{ receiveOrder.purchaseDeliveryOrder.saleOrder.VehicleModel.vosModelName|default }}</td>
                <td class="text-left">{{ receiveOrder.purchaseDeliveryOrder.saleOrder.codeNumber|default }}</td>
                <td class="text-left">{{ receiveOrder.purchaseDeliveryOrder.saleOrder.customer.name|default }}</td>
                <td class="text-left">{{ receiveOrder.purchaseDeliveryOrder.reference|default }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8" class="alert alert-warning">
                    <strong>There are no items to display.</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ grid_bottom(grid) }}

<script>
    jQuery(function($) {
        $("#{{ grid.id }}-top").css("display", "none");
    });
</script>
