{% extends 'base.html.twig' %}

{% block title 'Memo' %}

{% block body %}
    <div class="memo">
        <div class="header">
            <h1 class="title"></h1>
            <h2 class="title"></h2>
        </div>
        
        <br />
        
        <div class="note">
            <div class="table full">
                <div class="cell col">
                    <div class="table full">
                        
                        <div class="row">
                            <div class="cell label"></div>
                            <div class="cell value"></div>
                        </div>
                    </div>
                </div>
                <div class="cell col">
                    <div class="table full">
                        <div class="row">
                            <div class="cell label"></div>
                            <div class="cell value">{{ saleInvoiceDownpayment.codeNumber|default }}</div>
                        </div>
                        <div class="row">
                            <div class="cell label"></div>
                            <div class="cell value">{{ saleInvoiceDownpayment.transactionDate|default ? saleInvoiceDownpayment.transactionDate|date('d M Y') }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">{{ saleInvoiceDownpayment.customer.name|default }}</div>
                <div class="row">{{ saleInvoiceDownpayment.customer.officeAddress|default }}</div>
                <div class="row">{{ saleInvoiceDownpayment.amount|default|number_format(0, '.', '')|say|capitalize }} rupiah.</div>
            </div>
        </div>
        
        <br />
        
        <table class="detail">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="right">{{ saleInvoiceDownpayment.saleOrder.quantity|default }}</td>
                        <td class="left">DP PENJUALAN UNIT</td>
                    </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="right">{{ saleInvoiceDownpayment.amount|default|number_format(0) }}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block stylesheets_include %}
    <link rel="stylesheet" href="{{ asset('css/memo.css') }}" />
{% endblock %}

{% block javascripts_include %}{% endblock %}

{% block stylesheets %}
    <style>
        .col:nth-child(1) { width: 50% }
        .col:nth-child(2) { width: 50% }
        
        .col:nth-child(1) .label { width: 35% }
        .col:nth-child(1) .value { width: 65% }
        .col:nth-child(2) .label { width: 35% }
        .col:nth-child(2) .value { width: 65% }
        
        .sig:nth-child(1) { width: 50% }
        .sig:nth-child(2) { width: 50% }
    </style>
{% endblock %}