{% extends 'transaction/layout.html.twig' %}

{% block title 'Show Purchase Invoice Header' %}

{% block actions %}
    {{ include('transaction/actions.html.twig') }}
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Invoice #</th>
                <td>{{ purchaseInvoiceHeader.codeNumber|default }}</td>
            </tr>
            <tr>
                <th>Tanggal</th>
                <td>{{ purchaseInvoiceHeader.transactionDate|default ? purchaseInvoiceHeader.transactionDate|date('j F Y') }}</td>
            </tr>
            <tr>
                <th>Supplier Invoice #</th>
                <td>{{ purchaseInvoiceHeader.supplierInvoiceNumber|default }}</td>
            </tr>
            <tr>
                <th>Supplier</th>
                <td>{{ purchaseInvoiceHeader.supplier.name|default }}</td>
            </tr>
            <tr>
                <th>Faktur Pajak Supplier</th>
                <td>{{ purchaseInvoiceHeader.formattedTaxNumber|default }}</td>
            </tr>
            <tr>
                <th>Tanggal Faktur Pajak</th>
                <td>{{ purchaseInvoiceHeader.taxInvoiceDate|default ? purchaseInvoiceHeader.taxInvoiceDate|date('j F Y') }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ purchaseInvoiceHeader.note|default }}</td>
            </tr>
        </tbody>
    </table>
          
   <hr />
           
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-info">
                <th>Rangka #</th>
                <th>Mesin #</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Disc (Rp.)</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for purchaseInvoiceDetailUnit in purchaseInvoiceHeader.purchaseInvoiceDetailUnits %}
                <tr>
                    <td class="text-left">{{ purchaseInvoiceDetailUnit.vehicleChassisNumber|default }}</td>
                    <td class="text-left">{{ purchaseInvoiceDetailUnit.vehicleMachineNumber|default }}</td>
                    <td class="text-center">{{ purchaseInvoiceDetailUnit.quantity|default|number_format(0) }}</td>
                    <td class="text-right">{{ purchaseInvoiceDetailUnit.unitPrice|default|number_format(0) }}</td>
                    <td class="text-right">{{ purchaseInvoiceDetailUnit.discount|default|number_format(0) }}</td>
                    <td class="text-right">{{ purchaseInvoiceDetailUnit.total|default|number_format(0) }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="text-right" colspan="5">Sub Total</td>
                <td class="text-right">{{ purchaseInvoiceHeader.subTotal|default|number_format(0) }}</td>
            </tr>
            <tr>
                <td class="text-right" colspan="5">PPn</td>
                <td class="text-right">{{ purchaseInvoiceHeader.taxNominalReplacement|default|number_format(0) }}</td>
            </tr>
            <tr>
                <td class="text-right" colspan="5">Grand Total</td>
                <td class="text-right">{{ purchaseInvoiceHeader.grandTotalReplacement|default|number_format(0) }}</td>
            </tr>
            <tr>
                <td class="text-right" colspan="5">Total Payment</td>
                <td class="text-right">{{ purchaseInvoiceHeader.totalPayment|default|number_format(0) }}</td>
            </tr>
            <tr>
                <td class="text-right" colspan="5">Remaining</td>
                <td class="text-right">{{ purchaseInvoiceHeader.remaining|default|number_format(0) }}</td>
            </tr>
        </tfoot>
    </table>
                
    {#<a target="_blank" class="btn btn-info" href="{{ path('transaction_receive_order_memo', {'id': receiveOrder.id}) }}">
        <span class="glyphicon glyphicon-print"></span> Print Pengajuan BBN
    </a>  #}
{% endblock %}
