{% set grid_layout = 'datagrid.html.twig' %}

{{ grid_top(grid) }}

<table data-role="table" class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr data-action="sort" class="alert alert-info">
            <th data-group="purchaseDeliveryOrder" data-field="vehicleChassisNumber">Rangka #</th>
            <th data-group="purchaseDeliveryOrder" data-field="vehicleMachineNumber">Mesin #</th>
            <th data-group="saleOrder" data-field="vehicleColor">Warna</th>
            <th data-group="purchaseDeliveryOrder" data-field="transactionDate">Tanggal DO</th>
            <th data-group="saleOrder" data-field="codeNumber">SPK #</th>
            <th data-group="customer" data-field="name">Customer</th>
            <th data-group="purchaseDeliveryOrder" data-field="reference">DO #</th>
        </tr>
        <tr data-action="search">
            <th data-group="purchaseDeliveryOrder" data-field="vehicleChassisNumber"></th>
            <th data-group="purchaseDeliveryOrder" data-field="vehicleMachineNumber"></th>
            <th data-group="saleOrder" data-field="vehicleColor"></th>
            <th data-group="purchaseDeliveryOrder" data-field="transactionDate"></th>
            <th data-group="saleOrder" data-field="codeNumber"></th>
            <th data-group="customer" data-field="name"></th>
            <th data-group="purchaseDeliveryOrder" data-field="reference"></th>
        </tr>
    </thead>
    <tbody>
        {% for purchaseDeliveryOrder in grid.data %}
            <tr data-field-id="{{ purchaseDeliveryOrder.id }}"
                data-field-code-number="{{ purchaseDeliveryOrder.codeNumber|default }}"
                data-field-vehicle-production-year="{{ purchaseDeliveryOrder.vehicleProductionYear|default }}"
                data-field-vehicle-chassis-number="{{ purchaseDeliveryOrder.vehicleChassisNumber|default }}"
                data-field-vehicle-machine-number="{{ purchaseDeliveryOrder.vehicleMachineNumber|default }}"
                data-field-vehicle-description="{{ purchaseDeliveryOrder.vehicleDescription|default }}"
                data-field-customer-name="{{ purchaseDeliveryOrder.saleOrder.customer.name|default }}"
                data-field-sale-order-code-number="{{ purchaseDeliveryOrder.saleOrder.codeNumber|default }}"
                data-field-sale-order-vehicle-brand="{{ purchaseDeliveryOrder.saleOrder.vehicleBrand|default }}"
                data-field-sale-order-vehicle-color="{{ purchaseDeliveryOrder.saleOrder.vehicleColor|default }}"
                data-field-sale-order-quantity="{{ purchaseDeliveryOrder.saleOrder.quantity|default }}"
                data-field-sale-order-unit-price="{{ purchaseDeliveryOrder.saleOrder.unitPrice|default }}"
                data-field-vehicle-model-manufacture-code="{{ purchaseDeliveryOrder.saleOrder.vehicleModel.manufactureCode|default }}">
                <td class="text-left">{{ purchaseDeliveryOrder.vehicleChassisNumber|default }}</td>
                <td class="text-left">{{ purchaseDeliveryOrder.vehicleMachineNumber|default }}</td>
                <td class="text-left">{{ purchaseDeliveryOrder.saleOrder.vehicleColor|default }}</td>
                <td class="text-left">{{ purchaseDeliveryOrder.transactionDate|default ? purchaseDeliveryOrder.transactionDate|date('j M Y') }}</td>
                <td class="text-left">{{ purchaseDeliveryOrder.saleOrder.codeNumber|default }}</td>
                <td class="text-left">{{ purchaseDeliveryOrder.saleOrder.customer.name|default }}</td>
                <td class="text-left">{{ purchaseDeliveryOrder.reference|default }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8" class="alert alert-warning">
                    <strong>There are no items to display.</strong>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ grid_bottom(grid) }}

<script>
    jQuery(function($) {
        $("#{{ grid.id }}-top").css("display", "none");
    });
</script>
