{% extends 'base.html.twig' %}

{% block title 'Memo' %}

{% block body %}
    <div class="memo-content">
        <div class="rows-empty top">
            &nbsp;
        </div>
        <div class="rows-1 content-left">
            &nbsp;
        </div>
        <div class="rows-1 content-right">
            {{ deliveryOrder.codeNumber|default }}
        </div>
        <div class="rows-empty middle">
            &nbsp;
        </div>
        <div class="rows-2 content-left">
            {{ deliveryOrder.deliveryInspectionHeader.receiveOrder.purchaseDeliveryOrder.saleOrder.customer.name|default }} <br />
            {{ deliveryOrder.deliveryInspectionHeader.receiveOrder.purchaseDeliveryOrder.saleOrder.customer.officeAddress|default }}<br />
            RT/RW: {{ deliveryOrder.deliveryInspectionHeader.receiveOrder.purchaseDeliveryOrder.saleOrder.customer.officeNeighbourhood|default }}, 
            Kel:{{ deliveryOrder.deliveryInspectionHeader.receiveOrder.purchaseDeliveryOrder.saleOrder.customer.officeVillage|default }}, 
            Kec: {{ deliveryOrder.deliveryInspectionHeader.receiveOrder.purchaseDeliveryOrder.saleOrder.customer.officeSubdistrict|default }}, 
            Kab: {{ deliveryOrder.deliveryInspectionHeader.receiveOrder.purchaseDeliveryOrder.saleOrder.customer.officeDistrict|default }}<br />
            {{ deliveryOrder.deliveryInspectionHeader.receiveOrder.purchaseDeliveryOrder.saleOrder.customer.phone|default }}
            
        </div>
        <div class="rows-2 content-right">
            {{ deliveryOrder.deliveryInspectionHeader.receiveOrder.purchaseDeliveryOrder.saleOrder.codeNumber|default }}<br />
            {{ deliveryOrder.deliveryInspectionHeader.receiveOrder.purchaseDeliveryOrder.saleOrder.transactionDate|default ? deliveryOrder.deliveryInspectionHeader.receiveOrder.purchaseDeliveryOrder.saleOrder.transactionDate|date('j F Y') }}<br />
            {{ deliveryOrder.deliveryInspectionHeader.receiveOrder.purchaseDeliveryOrder.saleOrder.staffFirst.name|default }}
        </div>
        <br />
        <br />
        <div class="rows-3">
            <table style="width: 90%">
                <tr>
                    <td>
                        {{ deliveryOrder.deliveryInspectionHeader.receiveOrder.purchaseDeliveryOrder.saleOrder.vehicleBrand|default }}<br />
                        {{ deliveryOrder.deliveryInspectionHeader.receiveOrder.purchaseDeliveryOrder.vehicleModel.vosModelName|default }}<br />
                        {{ deliveryOrder.deliveryInspectionHeader.receiveOrder.purchaseDeliveryOrder.vehicleProductionYear|default }}
                    </td>
                    <td style="width: 18%">{{ deliveryOrder.deliveryInspectionHeader.receiveOrder.purchaseDeliveryOrder.vehicleMachineNumber|default }}</td>
                    <td style="width: 18%; text-align: center">{{ deliveryOrder.deliveryInspectionHeader.receiveOrder.purchaseDeliveryOrder.vehicleChassisNumber|default }}</td>
                    <td style="width: 18%; text-align: right">{{ deliveryOrder.deliveryInspectionHeader.receiveOrder.purchaseDeliveryOrder.saleOrder.vehicleColor|default }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block stylesheets_include %}
    
{% endblock %}

{% block javascripts_include %}{% endblock %}

{% block stylesheets %}
    <style>
        div.memo-content {
            font-family: Arial;
            font-size: 4mm;
        }
        div.memo-content div {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        div.memo-content > div {
            width: 20cm;
        }
        div.memo-content div.content-left, div.memo-content div.content-right {
            vertical-align: top;
            display: inline-block;
        }
        div.memo-content div.rows-1.header {
            height: 7mm;
            padding-left: 60mm;
        }
        div.memo-content div.rows-1.nominal {
            height: 11mm;
            padding-left: 40mm;
        }
        div.memo-content div.rows-1.price-info.content-left, div.memo-content div.rows-1.price-info.content-right {
            height: 7mm;
        }
        div.memo-content div.rows-1.content-left {
            width: 110mm;
            padding-left: 2mm;
            text-align: left;
        }
        div.memo-content div.rows-1.content-right {
            width: 95mm;
            padding-left: 55mm;
            text-align: right;
        }
        div.memo-content div.rows-1.total-price {
            height: 10mm;
            padding-left: 18mm;
        }
        div.memo-content div.rows-2.content-left {
            width: 115mm;
            padding-left: 5mm;
        }
        div.memo-content div.rows-2.content-right {
            width: 35mm;
            padding-left: 6mm;
        }
        div.memo-content div.rows-3 {
            padding-left: 6mm;
            width: 100%;
        }
        div.memo-content div.rows-empty.top {
            height: 0.2mm;
        }
        div.memo-content div.rows-empty.middle {
            height: 20mm;
        }
        div.memo-content div.rows-empty.bottom {
            height: 12mm;
        }
    </style>
{% endblock %}