{% extends 'transaction/layout.html.twig' %}

{% block title 'Approve Sale Order' %}

{% block actions %}{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>SPK #</th>
                <td>{{ saleOrder.codeNumber|default }}</td>
            </tr>
            <tr>
                <th>Tanggal</th>
                <td>{{ saleOrder.transactionDate|default ? saleOrder.transactionDate|date('j F Y') }}</td>
            </tr>
            <tr>
                <th>Surat Penawaran #</th>
                <td>{{ saleOrder.quotationNumber|default }}</td>
            </tr>
            <tr>
                <th>Customer</th>
                <td>{{ saleOrder.customer.name|default }}</td>
            </tr>
            <tr>
                <th>Contact Person</th>
                <td>{{ saleOrder.customer.contactPerson|default }}</td>
            </tr>
            <tr>
                <th>Warna</th>
                <td>{{ saleOrder.vehicleColor|default }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ saleOrder.quantity|default }}</td>
            </tr>
            <tr>
                <th>Harga /unit (Rp.)</th>
                <td>{{ saleOrder.unitPrice|default|number_format(2) }}</td>
            </tr>
            <tr>
                <th>Total (Rp.)</th>
                <td>{{ saleOrder.total|default|number_format(2) }}</td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-danger">Are you sure you want to approve this item?</div>
    {{ form_start(form) }}
        <div class="well text-center">
            <input class="btn btn-success" type="submit" value="Approve" />
            <a class="btn btn-default" href="{{ path('transaction_sale_order_approval') }}">Cancel</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
